<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>La abuela sorda</title>
</head>
<body>
	<h1>La abuela sorda</h1>
	<form action="/enviar-mensaje" method="POST">
		<label>Di algo abuelita:</label><br>
		<input type="text" name="mensaje">
		<input type="submit" value="¡Dilo!">
	</form>
</body>
</html>